{% extends "base.html.twig" %} {% block title %}- Me contacter{% endblock %} {%
block body %}
<h1 class="mb-5 mt-5 pb-5 border-bottom border-light">Formulaire de contact</h1>
<div class="height100 d-flex flex-column text-center align-items-center">
  {% for message in app.flashes('success') %}

  <div class="alert alert-success col-lg-12">
    {{ message }}
  </div>

  {% endfor %}

  <div class="col-lg-10">
    <h3 class="mb-5">
      Si vous souhaitez me contacter, n'hésitez pas à vous servir de ce
      formulaire.
    </h3>
  </div>
  <div class="col-lg-3">
    {{ form_start(form) }}

    {{ form_widget(form) }}

    <button type="submit">Envoyer</button>

    {{ form_end(form) }}
  </div>
</div>

{% endblock %}
